.reveal h1 {
    margin-bottom: 100px;
}

table {
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 0.6em;
  }

  thead {
    background-color: #333;
    color: white;
  }

  th, td {
    padding: 15px 20px;
    text-align: left;
    border: 1px solid #444;
  }

  tbody tr:nth-child(even) {
    background-color: #444;
  }

  tbody tr:nth-child(odd) {
    background-color: #555;
  }

  tbody tr:hover {
    background-color: #666;
  }